root = true

[*.py]
end_of_line = lf
insert_final_newline = true
charset = utf-8
trim_trailing_whitespace = true

[*.md]
end_of_line = lf
insert_final_newline = true
charset = utf-8

[*.{yml,yaml,json,env}]
end_of_line = lf
insert_final_newline = true
charset = utf-8
